<!-- Page Content -->

<div class="container">

  <div class="row">

    <!--Video Section-->
    <div class="col-md-8 well">
      <div class="embed-container "><%= embed(@movie.video_url) %></div>


    <!-- Discussion Section -->

      <h4><%= @movie.comments.count %> <em>Comments&nbsp;</em>

      <% if !user_signed_in?  %>
         <small><%= link_to ' sign in', new_user_session_path %> to leave a comment</small>
      <%end%></h4>
      <% if !@movie.comments.blank? %>
      <div id="comments"><%= render @movie.comments %></div><!-- comments list -->
      <% end %>
      <% if user_signed_in? %>

        <%= render 'comments/form' %><!-- comment form-->
      <% end %>
      <!--<div id="comments"><%#= render @movie.comments %></div> comments list -->


  </div>

    <!-- Description Section -->
    <div class="col-md-4">

      <div class="thumbnail">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="caption-full">
          <div class="ratings pull-right">
            <em><%= "#{@reviews.length} reviews" %></em>
            <p class="star-rating pull-left" data-score =<%= @avg_review %></p>
          </div>
           <!-- Movie Title-->
          <br><br><h4 class="text-info"><%= @movie.title %></h4>
          <!-- Movie Description-->
          <div class="table-responsive ">
            <table class="table">
              <tbody>

              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>

              </tbody>
            </table>
        </div>
        </div>
      </div>

      <!-- Rating Section-->
      <div class="well">

        <% if @reviews.blank? %>
            <div class="text-right center-block">
                <div class="bg-primary text-center ">
                  <br><p>No reviews just yet. Be the first!</p><hr>
                <%= link_to "write Review", new_movie_review_path(@movie), class: "btn btn-info" %></div>
            </div>
        <% else %>
            <div class="text-right">
              <%= link_to 'Leave a Review', new_movie_review_path(@movie), class: 'btn btn-success' %>
            </div>
            <% @reviews.each do |review| %>

        <hr>

        <div class="row">
          <div class="col-md-12 review">
            by <%= review.user.email %>
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <span class="pull-right text-muted"><%= time_ago_in_words(review.created_at)%> ago</span>
            <p class="text-info"><%= review.comment %></p>
          </div>
        </div>

        <% end %>
      <% end %>
        <hr>

      </div>

    </div>

  </div>

</div>
<!-- /.container -->


<% if user_signed_in? %>
    <!-- users should not be able to edit the movie data  -->
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %>
    <%#= link_to 'Delete', %>
<% end %>

<script>
    $('.star-rating').raty({
        path :'/assets/rating',
        readOnly:true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>
