<div class="row text-center">
  <% @galleries.each do |photo| %>
      <div class="col-md-3 col-sm-4 col-xs-6 "  data-toggle="modal" data-target="#<%= photo.target_data%>">
        <%= image_tag photo.image.url, class:'img-responsive gallery' %>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="<%= photo.target_data %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><%= photo.title %></h4>
            </div>
            <div class="modal-body">
              <img class="img-responsive" src="<%= photo.image.url%>" alt="image">
              <p><%= photo.description %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
